:root {
  /* Existing color variables */
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-pastel-mint: #EEEDEB;
  --color-dark:#990000;
  
  /* Font families */

  --font-primary: 'Arial', sans-serif; /* Replace with your chosen font */
  --font-secondary: 'Georgia', serif; /* Replace with your chosen font */
  
  /* Font sizes */
  --font-size-base: 16px;
  --font-size-small: 14px;
  --font-size-large: 18px;
  --font-size-xl: 24px;
  --font-size-xxl: 32px;
  
  /* Header sizes */
  --font-size-h1: 2.5rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.75rem;
  --font-size-h4: 1.5rem;
  --font-size-h5: 1.25rem;
  --font-size-h6: 1rem;
  
  /* Existing spacing variables */
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 24px;
  
  --border-radius: 4px;
}

/* Common styles */
body {
  font-family: var(--font-primary);
  font-size: var(--font-size-base);
  color: var(--color-black);
  background-color: var(--color-white);
}

h1 { font-size: var(--font-size-h1); }
h2 { font-size: var(--font-size-h2); }
h3 { font-size: var(--font-size-h3); }
h4 { font-size: var(--font-size-h4); }
h5 { font-size: var(--font-size-h5); }
h6 { font-size: var(--font-size-h6); }

p { font-size: var(--font-size-base); }

.text-small { font-size: var(--font-size-small); }
.text-large { font-size: var(--font-size-large); }

/* Add any other common styles here */